<div class="auth-container">
       <form
             (ngSubmit)="onSubmit(authForm)"
             #authForm="ngForm"
             class="animate__bounceIn auth-form">
              <h3>{{ isSignin ? "Sign In" : "Sign Up" }}</h3>
              <label for="email">Email address</label>
              <input
                     type="email"
                     name="email"
                     id="email"
                     ngModel
                     required
                     email
                     #email="ngModel" />
              <label for="password">Password</label>
              <input
                     type="password"
                     name="password"
                     id="password"
                     ngModel
                     required
                     password
                     minlength="6"
                     #password="ngModel" />
              <p *ngIf="error.message">{{ error.message }}</p>
              <button
                      type="submit"
                      [disabled]="authForm.invalid"
                      class="btn-glow"> {{ isSignin ? "Sign In" : "SignUp" }}
              </button>
              <a (click)="onRedirect()">{{ isSignin ? "New to game. Create account." : "Back to sign in" }}</a>
       </form>
</div>