@property --p1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%;
}

@property --p2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 100%;
}

.auth-container {
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.error {
    font-family: var(--fn-main);
    font-size: var(--fn-size-text);
    text-align: center;
    color: rgb(255, 0, 0);
}

.auth-container form {
    border-radius: 1rem;
    padding: 4rem;

    display: flex;
    flex-direction: column;

    font-family: var(--fn-main);
    background-color: var(--pure-white);
    box-shadow: var(--form-shadow);
}

.auth-container h3 {
    margin-bottom: 4rem;
    font-size: var(--fn-size-title);
    color: var(--grey);
}

.auth-container label {
    margin-bottom: .75rem;
    font-size: var(--fn-size-text);
    color: var(--grey)
}

.auth-container input {
    margin-bottom: 2rem;
    border: .1rem solid var(--pure-white);
    border-radius: .25rem;
    padding-left: .5rem;

    line-height: 4.25rem;
    color: var(--pure-black);
    background: linear-gradient(0deg, var(--light-grey-2) var(--p1), #ffffff var(--p2));
    transition: --p1 .25s, --p2 .25s;
}

.auth-container input:focus {
    outline: none;
    border-bottom: .1rem solid var(--grey);
    --p1: 0%;
    --p2: 0%;
}

.auth-container button {
    width: 50%;
    margin: 2rem auto 0;
    border: none;
    border-radius: .5rem;
    padding: 1.25rem;

    font-size: var(--fn-size-button);
    font-weight: 700;
    color: var(--pure-white);
    background-color: var(--pink);
}

.auth-container button:hover {
    background-color: var(--light-pink);
}

.auth-container button:active {
    transform: scale(.96);
}

.auth-container a {
    margin: 2rem auto 0;
    font-size: var(--fn-size-text);
    text-decoration: none;
    color: var(--blue);
}

.auth-container a:hover {
    text-decoration: underline;
    cursor: default;
}