.user-form {
    width: 25%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-user-form);
    box-shadow: var(--user-form-shadow);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-form h3 {
    margin-bottom: 4rem;
    font-family: var(--font-main);
    font-size: var(--fonrt-size-user-form-h3);
    color: var(--color-font-user-form-h3);
}

.user-form label {
    margin-bottom: .5rem;
    font-family: var(--font-main);
    font-size: var(--font-size-user-form-label);
    color: var(--color-font-user-form-label)
}

.user-form input {
    margin-bottom: 2rem;
    border: none;
    border: .1rem solid rgb(175, 175, 175);
    padding-left: .5rem ;
    color: var(--color-font-user-form-h3);
    line-height: 3rem;
}

.user-form input:focus {
    outline: none;
}

.user-form button {
    width: 50%;
    margin: 0 auto;
    border: none;
    font-family: var(--font-main);
    font-size: 1.15rem;
    line-height: 3.5rem;
    color: white;
    background-color: var(--color-bg-user-form-login-button);
}

.user-form button:hover {
    background-color: var(--color-bg-user-form-login-button-hover);
}

.user-form button:active {
    transform: scale(.96);
}

.user-form a {
    margin: 2rem auto 0;
    font-family: var(--font-main);
    font-size: var(--font-size-user-form-a);
    text-decoration: none;
    color: rgb(100, 100, 100);
}

.user-form a:hover {
    text-decoration: underline;
    cursor: default;
}