.user-form {
    margin: 5rem auto;
    width: 20%;
    border-radius: 1rem;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-user-form);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.user-form label,
.user-form button,
.user-form hr {
    margin-top: 2rem;
}

.user-form h3 {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    color: rgb(70, 70, 70);
}

.user-form label {
    margin-bottom: .5rem;
    font-size: 1.15rem;
    font-family: Arial, sans-serif;
    color: rgb(100, 100, 100);
}

.user-form input {
    border: .1rem solid #dadada;
    border-radius: .5rem;
    line-height: 3rem;
}

.user-form input:focus {
    outline: none;
}

.user-form button {
    border: none;
    border-radius: .7rem;
    font-size: 1.15rem;
    font-family: Arial, sans-serif;
    line-height: 3.25rem;
    color: white;
    background-color: var(--color-login-button);
}

.user-form hr {
    height: 1px;
    border: none;
    background-color: #dadada;
}

.user-form p {
    margin: 2rem auto 0;
    font-size: 1.15rem;
    font-family: Arial, sans-serif;
    color: rgb(100, 100, 100);
}