@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$col-body: #F3DEBA;
$col-header: #A9907E;
$col-font-header: #fff;
$col-input-border: #A9907E;
$col-button: #675D50;

$font-main: 'Roboto', sans-serif;

$fsize-header: 4rem;
$fsize-input: 1.6rem;
$fsize-p: 1.3rem;

$fcolor-input: #675D50;
$fcolor-button: #fff;
$fcolor-p: #675D50;