:root {
    /*COLOR*/
    --pure-white: #ffffff;
    --pure-black: #000;
    --pure-red: #ff0000;
    --grey: #787878;
    --light-grey-1: #eff2f1;
    --light-grey-2: #e1e1e1;
    --light-grey-3: #b9b9b9;
    --pink: #fc3441;
    --light-pink: #fc4b57;
    --blue: #0070f0;
    /*FONT*/
    --fn-main: Arial, sans-serif;
    --fn-size-title: 2rem;
    --fn-size-text: 1.25rem;
    --fn-size-button: 1.5rem;
    /*SHADOW*/
    --form-shadow: #3c40434d 0 .1rem .2rem 0, #3c404326 0 .2rem .6rem .2rem;
}